{
    "general": {
        "name": "{{clustername_port}}",
        "version": "{{version}}",
        "type": "endpoint",
        "gtype": "envoy.config.endpoint.v3.ClusterLoadAssignment",
        "project": "{{project}}",
        "canonical_name": "config.endpoint.v3.Endpoint",
        "metadata": {},
        "category": "endpoint",
        "permissions": {
            "users": [],
            "groups": []
        },
        "config_discovery": [],
        "collection": "endpoints",
        "elchi_discovery": {{elchi_discovery_array}}
    },
    "resource": {
        "resource": {
            "cluster_name": "{{clustername_port}}",
            "endpoints": [
                {
                    "lb_endpoints": [
                        {{static_endpoints_array}}
                    ]
                }
            ]
        },
        "version": "1"
    }
}