{
    "general": {
        "name": "{{listener_name}}",
        "version": "{{version}}",
        "type": "listener",
        "gtype": "envoy.config.listener.v3.Listener",
        "project": "{{project}}",
        "canonical_name": "config.listener.v3.Listener",
        "metadata": {},
        "category": "listener",
        "permissions": {
            "users": [],
            "groups": []
        },
        "config_discovery": [],
        "managed": true,
        "collection": "listeners",
        "elchi_discovery": []
    },
    "resource": {
        "resource": {{listeners_array}},
        "version": "1"
    }
}